<div class="menu">
  <ul>
    <li>
      <a href="/start">Start</a>
    </li>
    <li>
      <a href="/attractions-for-all">Attractions</a>
    </li>
    <li>
      <a href="/about-us">About Us</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li *ngIf="sessionUser.status" class="right-buttons">
      <a (click)="backToStart()">Log out</a>
    </li>
    <li *ngIf="sessionUser.status" class="right-buttons">
      <a routerLink="/account/about-you">My account</a>
    </li>
    <li *ngIf="!sessionUser.status" class="right-buttons" >
      <a routerLink="/form/login" >Sign in</a>
    </li>
    <li *ngIf="!sessionUser.status" class="right-buttons">
      <a routerLink="/form/registration">Sign up</a>
    </li>
  </ul>
</div>
