<header>
  <h1>Login</h1>
</header>

<form method="post" name="form1" #formData="ngForm" *ngIf="status===false">
  <input [(ngModel)]="tmpUser.userName" type="email" placeholder="e-mail" name="email" required/>
  <input [(ngModel)]="tmpUser.password" type="password" placeholder="hasło" name ="password" required/>

  <button class="btn" [disabled]="formData.invalid" (click)="login()">Log in</button>
  <button class="btn" (click)="signup()">Registration</button>


  <button *ngIf="hiddenButtonLoginFb" [disabled]="showButtonLoginFb" class="btn btn-primary btn-block"   (click)="signIn('Facebook');">
    <i class="fa fa-facebook" style="background-color: #385998; border-color: #385998"> </i> Log in with FB
  </button>

  <button *ngIf="hiddenButtonLogoutFb" [disabled]="showButtonLogoutFb" class="btn" (click)="signOut(false);">Logout</button>
</form>


<div class="menu" *ngIf="user">
  <img src="{{ user.photoUrl }}">
</div>

