<div class="wrapper">

  <div class="main_ofirmie">
    <div class="ofirmie_content">
      <img src="../../../../../assets/img/about.jpg">
      <p> KRAINA ATRAKCJI Travel Agency was established in March 2019. It was founded based on many years of experience. Traveling is our passion, which is why the information provided to our clients is not only a copy of the information contained in the catalogs, but is most often the account of individual travels. </p>

      <p> In the KRAINA ATRAKCJI Travel Agency's offer you will find trips, vacation breaks to anywhere in the world.
        We also offer telephone consulting. We are available 24/7. Customer satisfaction matters to us </p>

      <p> Our specialty is also searching for beneficial air and coach connections. Our travel agency
        also organizes holidays and trips for groups. </p>

      <p> KRAINA ATRAKCJI Travel Agency sells events only proven and reliable tour operators, both the largest
        as well as small ones with whom we have contacts. In one place you will find everything you need to spend a relaxing holiday. </p>

      <h2>  Welcome</h2>
    </div>
  </div>
</div>
