<div class="wrapper">

  <div class="main_ofirmie">
    <div class="ofirmie_content">
      <img src="../../../../../assets/img/about.jpg">
      <p>Biuro Podróży KRAINA ATRAKCJI powstało w marcu 2019 roku. Założone zostało w oparciu o długoletnie doświadczenie. Podróże są naszą pasją, dlatego przekazywane naszym klientom informacje nie są jedynie kopią informacji znajdujących się w katalogach, ale są najczęściej relacjami z indywidualnie odbytych podróży.</p>

      <p>W ofercie Biura Podróży KRAINA ATRAKCJI znajdziecie Państwo wycieczki, wczasy wypoczynkowe do każdego miejsca na świecie.
        Oferujemy również doradztwo telefoniczne. Jesteśmy 24/7 do Państwa dyspozycji. Dla nas liczy się zadowolenie klientów</p>

      <p>Naszą specjalnością jest także wyszukiwanie korzystnych połączeń lotniczych - jak również autokarowych. Nasze biuro podróży
        organizuje również wczasy i wycieczki dla grup.</p>

      <p>Biuro Podróży KRAINA ATRAKCJI sprzedaje imprezy tylko sprawdzonych i pewnych touroperatorów, zarówno tych największych
        jak i małych, z którymi mamy kontakty. W jednym miejscu znajdziecie Państwo wszystko co potrzebne do spędzenia udanego wypoczynku.</p>

      <h2>Zapraszamy</h2>
      <br>
    </div>
  </div>
</div>
