<div class="menu">
  <ul>
    <li >
      <a routerLink="#">You are sign in</a>
    </li>
    <li>
      <a routerLink="/start">Start</a>
    </li>
    <li>
      <a routerLink="/attractions-for-all">Attractions</a>
    </li>
    <li>
      <a routerLink="/about-us">About Us</a>
    </li>
    <li>
      <a routerLink="/contact">Contact</a>
    </li>
    <li class="right-buttons" >
      <a routerLink="/logout">Sign out</a>
    </li>
    <li class="right-buttons" >
      <a routerLink="/account">My account</a>
    </li>
  </ul>
</div>
