<div class="content">
  <h1>Contact with Us</h1>
</div>
<div class="wrapper">
  <div class="left">
    <h2>Unique Moments Sp. z o.o.</h2>

    <strong><p>ul.Bankowa 1 (II floor)<br>
      52-222 Kielce</p></strong>

    <p>NIP: 896-14-39-321, Regon: 020572000,<br>
      KRS: 0000288144, Sąd Rejonowy dla Kielc-Fabrycznej, VI Wydz. Gospodarczy<br>
      Kapitał zakładowy: 120 000 zł (in ful paid)</p>

    <p> Entry in the Register of Tourism Organizers No. 1245 <br>
      Insurance tourism guarantee: <br>
      TU Signal Iduna No. M 5153102 </p>
  </div>

  <div class="middle">
    <h2>Contact Details</h2>

    <p>tel. 71 311 96 000<br>
      tel. 71 311 96 000<br>
      kom. 694 708 213</p>

    <p>alarm kom. 555 322 035</p>

    <p>e-mail: contact@krainaatrakcji.pl</p>

  </div>

  <div class="right">
    <h2> Office hours </h2>

    <p> Monday - Friday: hours 09:00 - 17:00 <br>
      Saturday: 10:00 - 14:00 (please ask
      arranging an appointment) </p>

    <h2> Bank accounts </h2>

    <p>Santander Bank Poland about nr :<br>
      41 1090 2529 0000 0001 0944 9600 (in PLN)<br>
      42 1090 2529 0000 0001 1570 9000 (in USD)<br>
      43 1090 2529 0000 0001 1656 3452 (in EUR)<br>
  </div>


</div>
